modules = ["nodejs-20"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Start Expo App"

[[workflows.workflow]]
name = "Start Expo App"
author = 45060558
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --port 8081 --host 0.0.0.0 --tunnel"

[[workflows.workflow]]
name = "Start Expo Web"
author = 42554831
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --web --port 8081 --host 0.0.0.0"

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000
